<% currently_at 'Home'%>
<% provide :page_title  %>
<h1> <%= @name %>  Welcome to Ask It! online web-app!</h1>
<p>
  &copy; Mikhail Pasichniuk <%= Time.now.year %>
</p>
<h2> CRUD RESTful app made using Ruby on Rails</h2>
<p>Simple Reddit -style app where users can ask questions and comment with asnwers</p>
<h4>  tools used: </h4>
<ul>
  <li>
    Kaminari for pagination
  </li>
  <li>
    Bootstrap5 for styling 
  </li>
  <li>
    handmade sign-in feature using bcrypt for hashing passwords
  </li>
  <li>
    Faker gem used to generate Questions and Answers to seed database
  </li>
  <li>
    PostgreSQL database 
  </li>
  <li>
    ALSXLSX gem to export to XLSX files
  </li>
  <li></li>
</ul>
