<% provide :page_title, "Admin page: users list" %>
<% currently_at 'Admin page -- users'%>
<h1 class="mb-4">Admin users</h1>
<div class="btn-group mb-3">
  <%= link_to 'Download zipped list in XLSX', admin_users_path(format: :zip), class: "btn btn-primary"  %>
</div>
<%= paginate @users %>
<p> List of users: </p>
<table class="table">
  <tr>
    <th>name</th>
    <th>email</th>
  </tr>
  <%= render @users%>
</table>
<%= paginate @users%>
